@use 'colorscheme.scss' as cs;
@import '@mdi/font/css/materialdesignicons.css';

.gradient-bg.v-btn,
.gradient-bg.v-card {
  background: linear-gradient(90deg, rgba(4, 128, 159, 1) 0%, rgba(117, 185, 196, 1) 100%);
  color: white;
}

body {
  margin: 0;
}

#app main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}
